@import "../../node_modules/normalize.css/normalize";

/**
 * Global Styles.
 */
*[hidden]{
    display: none;
}

html > body {

    /**
     * General Styles.
     */
    header{
        display: flex;
        align-items: center;
    }

    header > nav{
        margin-left: auto;
    }

    main{
        padding: 0.5rem;
    }

    /**
     * Class Styles.
     */
    .add-button {
        position: absolute;
        top: 1px;
        left: 1px;
    }

    .strengthChecked{

        &[data-score="bad"]{
            color: red;
        }

        &[data-score="modest"]{
            color: yellowgreen;
        }

        &[data-score="ok"]{
            color: limegreen;
        }

        &[data-score="good"]{
            color: green;
        }

        &[data-score="excellent"]{
            color: darkgreen;
        }
    }

    /**
     * ID Styles.
     */
     #passwordBox{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid;
        border-radius: 10px 10px 0 0;
        box-sizing: border-box;
        padding: 0.5rem;
        box-shadow: 0 -1px 5px;
    }

    #passwordBox{

        div{
            display: block;
            width: 100%;
        }

        > div:last-of-type{
            display: flex;
            flex-wrap: wrap;
        }

        > div:last-of-type{
            > *{
                width: 48%;
                margin: 0.5rem auto;
                height: 38px;
            }

            > label{
                margin-left:  0;
            }

            > label input {
                width: 100%;
            }

        }

    }

    #displayPassword,
    .listedPassword{
        word-wrap: anywhere;
        width: 80%;
        margin-left: 0.5rem;
        white-space: pre;
        font-family: 'Liberation Mono';
        text-decoration: underline;
        overflow: scroll;
        padding-bottom: 1rem;
    }

    #passwordForm{
        box-sizing: border-box;
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 1px 5px;
        display: flex;
        flex-flow: column;
    }

    #sp_form{

        > * + *{
            margin-top: 0.5rem;
        }

        > fieldset{
            display: flex;
            flex-flow: column;
        }

        label{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }

        label + label{
            margin-top: 0.5rem;
        }

        label > input{
            width: 100%;
            max-width: 750px;
        }

        label > {
            input[type='checkbox'],
            input[type='radio']{
                width: auto;
                margin-left: 1rem;
            }
        }


    }


}