footer
    p
        | Have an Issue? Want to see a Feature be added? Check out the project on its
        |
        a(
            href="https://github.com/staticBanter/simplePass"
        ) GitHub
        | !
