header
    h1
        a(
            href="./"
        ) simplePass
    nav
        a(
            href="./EXAMPLES-AND-INTEGRATION.html"
        ) Examples & Integration
        a(
            href="./docs/index.html"
        ) Documentation
        a(
            href="https://github.com/staticBanter/simplePass"
        ) GitHub Repository
